<h1> List of Photos </h1>

<form action = "/insert_photo" >

<label for= "img_label"> Image </label>
<input id = "img_label" type = "text" name = "image_query" placeholder ="Enter a URL for the image" >

<label for = "caption_label"> Caption </label>
<textarea id = "caption_label" type = "textarea" name = "caption_query" placeholder = "Enter a caption for the photo" > </textarea>


<label for = "user_id"> Owner ID </label>
<input id = "user_id" type = "text" name = "owner_query" placeholder = "Enter a caption for the photo">

<button> Add photo </button>
</form>


<table border = 1>

  <tr>
    <th> Image </th>
    <th> Caption </th>
    <th> Owner </th>
    <th> Posted </th>
    <th> Links </th>
  </tr>
 
 <% @photo_list.each do |a_pic| %>
  ,<tr>
      <td> <img src="<%= a_pic.image %>" >  </td>
      <td> <%= a_pic.caption%></td>
      <td> <%= a_pic.poster.username%></td>
      <td> <%=a_pic.created_at%> </td>
      <td> <a href="/photos/<%= a_pic.id%>"> Show details </a> </td>

  </tr>
  <% end %>

</table>
